/*@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500&display=swap'); importando a fonte direto no css*/

header{
   background-color:rgb(0, 0, 0);
   display: flex;
   justify-content: space-between;
   padding: 10px 20px;

 }
 
body{
    background-color: #2e4e58;
    
}
