.clicker{
    display: inline-flex;
    color: #ff0;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;

}

.clicker::before{
    content: "";
    display: inline-flex;
    width: 10px;
    height: 10px;
    background-color: #ff0;
    margin-right: 10px;
    /*border-width: 1px;
    border-style: solid;
    border-radius: 30px;*/
    
}