.section{
    background-color: #ff0;
    height: 720px;
}

/*---------------------------------------------SECOND SECTION-------------------------------------------------*/

.section.-second{
    background-color: black;
    height: 620px;
}

/*---------------------------------------------------THIRD SECTION-----------------------------------------*/

.section.-third{
    height: 600px;
    
}

/*-------------------------------------------------FOURTH SECTION---------------------------------------------*/

.section.-fourth{
    height: 800px;
    text-align: center;
    background-color: #3A4042;
}
