.section{
    background-color: #ff0;
    height: 720px;
}

.section .main-title{
    padding-top: 40px;
    font-size: 40px;
    font-weight: 400px;
    line-height: 40px;
}

.relation{
    display: grid;  
    justify-content: center;
    grid-template-columns: 480px 480px;
    position: relative;
    top: 102px;
    row-gap: 20px;

}

.relation>div{
    display: flex;
    justify-content: flex-start;

}

.names{
    font-weight: 400px;
    font-size: 25px;
    line-height: 25px;
    margin-left: 24px;

}

.names span{
    display: flex;
    background: linear-gradient(
        to right,
            aqua 0%,
            aqua 50%,
            #ff0 50%,
            #ff0 100%
    );
    height: 35%;
    width: 330px;
    border: rgb(36, 35, 35) 5px solid;
    margin-top:16px

}

.section.-second{
    background-color: black;
    height: 520px;
}

.section.-second .main-title{
    color: #fff;
    padding-top: 40px;

}

.section.-second img{
    position: relative;
    top: 120px; left: 596px;
    height: 255px; 
    width: 245px;

}