.banner{
    height:1000px;
    background: no-repeat url(/assets/img/latest-4043997283.png);
    background-size: 100% 100%;
}

.banner .bond{
    display:flex;
    flex-direction: column;
    width: 530px;
    position: relative;
    top: 166px; left: 93px;

}

.banner .navegation{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 45px; 
    
}